__pycache__
*.pdf
*.md
./src/cube.py
./src/draw.py
.git
.github
.gitignore
venv
cube
test
Dockerfile
./src/data/images
./src/scripts
./src/tests
/test
src/CommandsRegister
GEMINI.md
PLAN.md
sql_trigger
docs